.form-search {
  margin-top: 10%;
  margin-left: 3%;
  display: flex;
  gap: 20px;
  width: 80%;
  margin-bottom: 3rem;
}

.form-search .form-search__input {
  flex: 1 1 100%;
}

.button-search{
  display: inline-block;
    padding: 15px 30px;
    background-color: #00253a;
    border-radius: 25px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.5s;
    color: white;
    text-decoration: none;
}

.button-search:hover{
  background-color: #008a9c;
}
